doctype html
html(lang='en')
  head
    include ./head
  body.loading
    include ./mixins
    block header
      include ./header
    #page.container-fluid
      .row
        .col-md-3.sidebar.hidden
          aside#aside
            block aside
        .col-md-8        
          #main.hidden
            block main
        
  block script      
    script(type="text/javascript" src='js/main.js')
    script(type="text/template" id="profile-link")
    script(type="text/template" id="details")    
