doctype html
html(lang='en')
  head
    include ./head
  body
    include ./mixins
    block header
      include ./header
    #page.container
      block aside
        aside#aside
      block main
        #main    
        
  block script      
    script(type="text/javascript" src='js/main.js')
    script(type="text/template" id="profile-link")
    script(type="text/template" id="details")    
