meta(charset='utf-8')
meta(name='description', content='Pipedrive Alternative Client')
meta(name='viewport', content='width=device-width, initial-scale=1')
title Pipedrive Alternative Client
link(rel='stylesheet', href='css/main.css')
