header#header.hidden
  .navbar.navbar-default.navbar-fixed-top
    .navbar-header
      a.navbar-brand(href="/")
        img(alt="Pipedrive" src="/assets/svg/logo-full-white-optimized.svg")
    ul.nav.navbar-nav
      li
        a.item(href="#")
          i.icon.icon-deal
          span.label Deals
      li
        a.item(href="#")
          i.icon.icon-activities
          span.badge.activities-count.hidden
          span.label Activities
          
      li
        a.item(href="#")
          i.icon.icon-contacts
      li
        a.item(href="#")
          i.icon.icon-statistics
        
